<%= form_with(model: v2_jurisdiction) do |form| %>
  <% if v2_jurisdiction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(v2_jurisdiction.errors.count, "error") %> prohibited this v2_jurisdiction from being saved:</h2>

      <ul>
        <% v2_jurisdiction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
