  <h1>Quotes Submission Form</h1>

  <p><strong>Instructions: Click the link below to review the Website. Find the cheapest ounce of weed and enter the price. Follow these rules for knowing which price to use:</strong></p>

  <ul>
    <li>Do not change the location from the link provided. If the link is to a marketplace, do not select a different vendor. If a specific city is selected, don't change cities.</li>
    <li>Only consider "flower". Do not consider edibles, concentrates, hash, or any form of weed other than the bud.</li>
    <li>An ounce is 28g. Always use the prices for product closest in weight to an ounce without going over. If ounce prices are available, use those.</li>
    <li>If there are no prices for exactly an ounce, use multiples of the largest quantity available, without going over. For example, if 1/2 oz. (14g) is selling for $100 cheapest, then the cheapest price for an ounce is $200.</li>
    <li>Do not use prices if they are for more than an ounce. If 2 oz. (56g) are available, do not use their prices. Use the closest quantity for sale less than or equal to an ounce.</li>
    <li>Only consider products that contain some THC. CBD or other types of flower are not to be counted.</li>
    <li>Sativa vs indica is not relevant. Neither are growing conditions, THC concentration, or other attributes. As long as the price is for THC containing flower, it can be included.</li>
  </ul>

<%= simple_form_for @v2_quotes_submission do |f| %>
  <%= f.simple_fields_for :quotes do |quote_form| %>
    <div class="my-4">
      <a href="<%= quote_form.object.vendor_url%>" target="_blank">Click here for website #<%= quote_form.index+1 %></a>
      <%= quote_form.input :price_per_ounce %>
      <%= quote_form.hidden_field :v2_jurisdiction_id %>
      <%= quote_form.hidden_field :date %>
      <%= quote_form.hidden_field :vendor_name %>
      <%= quote_form.hidden_field :vendor_url %>
      <%= quote_form.hidden_field :vendor_branch %>
      <%= quote_form.hidden_field :is_primary %>
    </div>
    
  <% end %> 

  <div class="d-grid gap-2 my-3">
    <%= f.hidden_field :uuid %>
    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
  </div>
<% end %>