<%= simple_form_for @v2_quotes_submission do |f| %>
  <%= f.simple_fields_for :quotes do |quote_form| %>
    <div class="my-4">
      <a href="<%= quote_form.object.vendor_url%>" target="_blank">Click here for website #<%= quote_form.index+1 %></a>
      <%= quote_form.input :price_per_ounce %>
      <%= quote_form.hidden_field :v2_jurisdiction_id %>
      <%= quote_form.hidden_field :date %>
      <%= quote_form.hidden_field :vendor_name %>
      <%= quote_form.hidden_field :vendor_url %>
      <%= quote_form.hidden_field :vendor_branch %>
      <%= quote_form.hidden_field :is_primary %>
    </div>
    
  <% end %> 

  <div class="d-grid gap-2 my-3">
   <button type="submit" class="btn btn-primary btn-lg">Submit</button>
  </div>
<% end %>